* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    font-family: 'Manrope', sans-serif;
    font-size: 1.3rem;
    background-color: hsl(210, 46%, 95%);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 328px;
    background-color: #fff;
    border-radius: 2rem;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 200px;
    background-image: url('./images/drawers.jpg');
    background-size: cover;
    background-position: center;
}

.card-main {
    padding: 3rem 3rem 2rem;
}

.card-header {
    font-size: 1.7rem;
    color: hsl(217, 19%, 35%);
}

.card-text {
    padding: 2rem 1rem 0 0;
    line-height: 2rem;
    color: hsl(214, 17%, 51%);
}

.author {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 3rem;
}

.author-avatar {
    width: 40px;
    height: 40px;
    margin-right: 1.6rem;
    border-radius: 50%;
}

.author-name {
    font-weight: bold;
    color: hsl(217, 19%, 35%);
}

.date {
    color: hsl(212, 23%, 69%);
}

.share-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
    cursor: pointer;
    z-index: 10;
}

.share-box {
    display: none;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    background-color: hsl(217, 19%, 35%);
}

.share-box img {
    margin: 0 1rem;
}

.share-text {
    padding-left: 2rem;
    text-transform: uppercase;
    letter-spacing: .5em;
    color: hsl(212, 23%, 69%);
}

.active {
    display: flex;
}

@media (min-width: 1024px) {
    .card {
        display: flex;
        flex-direction: row;
        max-width: 730px;
        height: 280px;
        overflow: visible;
    }

    .card-img {
        width: 100%;
        height: 100%;
        border-radius: 20px 0 0 20px;
        background-position: 0 0;
    }

    .card-main {
        position: relative;
        padding: 3rem 4rem;
    }

    .card-header {
        font-size: 2rem;
    }

    .author {
        padding-top: 2rem;
    }

    .share-box {
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 94px;
        left: 277px;
        height: 50px;
        width: 250px;
        border-radius: 10px;
        box-shadow: 0 10px 10px hsl(217, 12%, 72%);
    }

    .share-box::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: -10px;
        background-color: hsl(217, 19%, 35%);
        transform: rotate(45deg);
    }
}